/* General styles */

body {
	background-color: #FFFFFF;
	font-family: Century Gothic, Tahoma, Arial, Verdana, Helvetica, sans-serif;
	margin: 0px auto;
	max-width:1000px;
	border:solid;
	border-color:#FFFFFF;
}
	


header {
	background-color: White;
	display: block;
	color: Black;
	text-align: left;
	margin: 0px;
	padding: 0px;
}

h1 {
	font-size: 50px;
	margin: 0px;
}


footer {
	clear: both;	
	display: block;
	color:black;
	text-align:center;
	padding: 15px;
	font-size:20px;
}


nav{
	display:flex;
	margin: 0;
	font-weight: bold;
	font-size: 20px;


}
a{
	text-decoration: none;
	color: #000000
}

section {
	width:60%;
	float:left;
}

article {
	background-color: #CCCCCC;
	display:block;
	margin: 10px;
	padding: 10px;
}
aside {
	display:block;
	width:35%;
	float:left;
}






